[2018-09-11 07:40] desdic opened #19 "Timeouts"
Hi,

It seems that the timeout in session.Run is not fully implemented. Is there a way to cancel a session or transaction in order to do a timeout ? If I run a close on transaction or session in a different go routine the runner panics

[2018-10-09 08:29] ali-ince commented on #19
Hi @desdic,

The API for transaction timeout and metadata was introduced with [v1.7.0-beta01](https://github.com/neo4j/neo4j-go-driver/wiki/1.7-changelog#v170-beta01), but actual implementation for it arrived with [v1.7.0-beta02](https://github.com/neo4j/neo4j-go-driver/wiki/1.7-changelog#v170-beta02).

Bolt V3, which is the enabler for transaction timeout and metadata feature, will be part of neo

[2018-11-05 15:01] zhenlineo commented on #19
@desdic
Thanks again for reporting this issue. The request feature is already included in the drivers and will work with the current 3.5 server. Pls let us know if there is other issues.

[2018-11-05 15:01] #19 closed, assigned to nobody

[2018-11-15 09:13] vikashvverma opened #34 "bolt/bolt.h not found"
I am using latest release and trying to build the app with static linking but I get following error while building:
[code]

Any help would be appreciated.

[2018-11-16 05:10] MtthwBrwng commented on #34
Are you up to date on seabolt? If not, I'd try downloading the release of seabolt that goes with the version of the driver you're using or building seabolt from source then try to build you app again.

If that doesn't help, then try go getting the latest version of gobolt.

[2018-11-16 08:55] jmaeso commented on #34
Same happens here:

I had neo4j-go-driver working a couple of months ago.
Today tried to execute and had an error for seabolt. I pulled latest code, built from source, but the PKG_CONFIG_PATH could not find `seabolt17.pc` compiling seabolt creates `seabolt.pc` .  I just created a copy of the same file but renaming it.
Now I get the exactly same error but with modules error:
[code]

[2018-11-16 09:18] vikashvverma commented on #34
@MattJBrowning @jmaeso The issue is resolved for me.

I had set `PKG_CONFIG_PATH` to `seabolt/build/share/pkgconfig` instead of `seabolt/build/dist/share/pkgconfig`. I have also set `DYLD_LIBRARY_PATH` but not required for static linking.

The README does not specify exact path to choose as the path seems to redundant.

@jmaeso let me know if that works for you?

[2018-11-16 09:35] jmaeso commented on #34
Thank you @vikashvverma for your quick answer.
When I compile seabolt I don't get `dist/` I just have `bin/` `lib/` and `seabolt.pc`. I compiled it as a release, not debug. Could be because of that?

[2018-11-16 10:11] vikashvverma commented on #34
@jmaeso I had compiled as debug and not as release. You could try this...

[2018-11-16 11:10] adamglt opened #35 "panic with nil interface{}"
This is actually a bug in gobolt, but there's no way to open an issue there:
[code]
Causes panic: `reflect: call of reflect.Value.Interface on zero Value`.

This is a pretty common case when mapping from domain structs to map[string]interface{}.

opened a PR there: https://github.com/neo4j-drivers/gobolt/pull/1

[2018-11-16 11:35] jmaeso commented on #34
Didn't work. I ended up using the released package. Both on local and on the CI
Setup for the CI:
[code]

[2018-11-16 13:56] ali-ince commented on #34
@jmaeso I think you cmake cache is out of date, could you please try removing `build` directory and run `make_debug.sh`? That should result in `build/dist` be created and also those `.pc` files should have `17` in their names.

[2018-11-16 14:36] jmaeso commented on #34
In fact I get: `Error: could not load cache` at the end of the make

[2018-11-16 15:20] ali-ince commented on #34
I don't know what did go wrong in your environment, but it seems something is wrong. I could only suggest a `git clean -ixd`  confirming to clean-up everything and start from scratch.

[2018-11-16 15:49] collisonchris commented on #34
I've been able to get this working on OS X workstations and built on a CI server targeting Alpine based images. Making sure all the paths were set on the CI server was a pain but it's do able.
As part of our CI build, after cloning and building from source in `/seabolt`, I set the following vars as part of my setup:
[code]

[2018-11-16 16:01] ali-ince commented on #34
You may want to have a look at [our latest blog post](https://medium.com/neo4j/neo4j-go-driver-is-out-fbb4ba5b3a30) that shows how to build a static linked go binary with docker - and also our latest [PR #56](https://github.com/neo4j-drivers/seabolt/pull/56) that includes build / package docker files.

@jmaeso could you please confirm that the suggested solutions work for you?

[2018-11-19 08:51] jmaeso commented on #34
I didn't do the entire process (because I used the already compiled binaries and are spread through `/usr/var/local`), but could compile with the good result doing the git cleanup. Thank you @ali-ince.

[2018-11-19 17:09] #35 closed, assigned to nobody

[2018-11-19 17:09] #34 closed, assigned to nobody

[2018-11-23 10:20] vikashvverma opened #37 "Unable to cross compile"
I am trying to Cross compile binary for different OS/Arch (`env GOOS=linux GOARCH=amd64 go build -o build/foobar --tags "seabolt_static" foo/bar/main.go`) but I am getting following errors.

[code]

The compilation works fine if we just compile for current OS(`go build -o build/foobar --tags "seabolt_static" foo/bar/main.go`).

Any help would be appreciated.

P.S. Creating issue here because `gith

[2018-11-27 07:07] adamglt opened #38 "type aliases handling, value error propagation"
Issues with type aliases / error propagation described and fixed in `gobolt`: https://github.com/neo4j-drivers/gobolt/pull/2

[2018-11-28 06:27] vikashvverma commented on #37
@ali-ince @technige Any help with this would be appreciated.

[2018-11-28 09:29] ali-ince commented on #37
Hi @vikashvverma,

We don't have any CI set up for verifying cross-compilation scenarios and I believe `CGO` makes the huge cross-compilation experience a bit harder out there.

We'll try to come up with a solution eventually, but for the time being I would suggest using docker to create a binary built for linux. A sample docker file is available in our latest blog post [here](https://medium.com/n

[2018-11-28 09:39] vikashvverma commented on #37
I believe using Docker container would fix the compilation for Linux but we want binaries for the different OS to be generated. We tried manually cross compiling on Mac OS but it didn't work as you can see the error message. Our ultimate goal is to generate binaries for different OS/Arch from CI server and store the artifacts.

I would let you know if cross compiling works on Linux.

[2018-11-28 10:21] ali-ince commented on #38
Hi @adamglt,

The PR [neo4j-drivers/gobolt#2](https://github.com/neo4j-drivers/gobolt/pull/2) has been merged.

Thanks.

[2018-11-28 10:21] #38 closed, assigned to nobody

[2018-11-28 11:54] vikashvverma commented on #37
Cross-compiling is not working on Linux as well, the same error above.

[2018-12-05 06:39] vikashvverma opened #40 "Not able to build or run tests"
My project compiles successfully on Mac OS and now I am trying to same on CentOS.
I have followed same steps on CentOS as on Mac OS but I am getting strange issue related to seabolt.

When I am running tests or building binary(`go build -o build/foobar --tags "seabolt_static" foo/bar/main.go`), I get following error:

[code]

Any help would be appreciated.

I have setup `PKG_CONFIG_PATH` as well a

[2018-12-05 08:28] vikashvverma opened #41 "Slice of struct as query params for cypher"
I am trying to execute a cypher query with params as slice of struct.
I see the slice of struct not getting parsed correctly, as a result the query is not behaving as expected.

Please find below more details:

**Sample Query**
[code]

**Scenario1**

Struct:
[code]

The parameter being passed is a slice of Node, `[]Node{}`.
When i enabled debug mode for the driver, I am getting following:
`{Nodes:

[2018-12-05 09:13] ali-ince commented on #40
Hi @vikashvverma,

Please verify that you have `go-1.10` or `go-1.11` installed in your CentOS environment. It seems (from the API level), you're trying on a pretty old (and not supported) go version.

Thanks.

Ali

[2018-12-05 09:13] #40 closed, assigned to nobody

[2018-12-05 09:43] vikashvverma commented on #40
It worked. Silly me... 😄
Thanks

[2018-12-05 11:02] ali-ince commented on #41
Hi @vikashvverma,

Sending user defined types as query parameters is not supported. The supported types are listed at https://github.com/neo4j/neo4j-go-driver#value-types, https://github.com/neo4j/neo4j-go-driver#spatial-types---point and https://github.com/neo4j/neo4j-go-driver#temporal-types---date-and-time. Of those types listed, you cannot send `neo4j.Node`, `neo4j.Relationship` and `neo4j.Pat

[2018-12-05 11:02] #41 closed, assigned to nobody

[2018-12-05 11:49] vikashvverma commented on #41
Right,
I used `[]map[string]interface{}` and it worked.

Thanks

[2018-12-05 16:06] ali-ince commented on #37
Hi @vikashvverma,

Thanks for reporting this issue, but as I mentioned earlier in the thread, we depend on `CGO` to make use of seabolt native library (and it depends on openssl as well). We have discussed internally to come up with a procedure (possibly based on https://github.com/karalabe/xgo) - but it's not trivial even to add `cmake` build support onto that and we currently don't have the capa

[2018-12-05 16:06] #37 closed, assigned to nobody

[2018-12-14 19:49] mariecurried opened #43 "Errors in Go's Driver Manual"
I'm new to Neo4j and I've been playing around with the whole platform. Lately, I've been experimenting with interacting with the DB from a Go program.
While reading the Driver Manual, I found a couple of errors in the examples.
In the section "3.3. Causal chaining", the function makeFriend is not using the bookmarks argument, which leads to an incorrect example.
In the section " 4.1. The Cypher ty

[2018-12-17 13:15] ali-ince commented on #43
Hi @marigonzes,

Thank you for reporting the inconsistencies you've discovered.

We've fixed the problems you've pointed and they will be published just after the release of the next patch version, 1.7.2.

Thanks.

[2018-12-17 13:15] #43 closed, assigned to nobody

[2018-12-17 17:24] mariecurried commented on #43
Thank you :smile:

[2018-12-17 17:47] mariecurried commented on #43
Don't know if this is the best place to ask a question, but here it goes:
- Is it necessary to consume a result from a Session or a Transaction if I don't need it's contents, for example, when executing a CREATE request? I ask this, because sometimes, if I don't consume the result, the values are not written to the server.

[2018-12-17 17:53] ali-ince commented on #43
It would definitely be better to direct your questions to our community site, available at https://community.neo4j.com.

The behaviour you’re experiencing is related with a bug, resolved with #42 and will be available with 1.7.2 release. In the meantime, it is best to explicitly call `result.Consume()` as you’ve already discovered.

[2019-02-12 12:30] adamglt opened #47 "Inefficient allocations in worker pool"
**Driver version**: Go driver 1.7.2

In the new worker pool - there's this function:
[code]

We've seen some GC pressure caused by this: `time.After` creates a new timer for every call, so every loop iteration creates a timer.
In our integration tests this actually brings `time.NewTimer` to the top of memory allocations:
[code]

I think we can fix this relatively easily, but I haven't dived too de

[2019-02-12 16:33] ali-ince commented on #47
Hi @adamglt,

Thanks for reporting this issue. Your proposed change looks good to me as well.

I'll be happy to merge it if you could create a PR at https://github.com/neo4j-drivers/gobolt for `1.7-dev` branch.

Ali

[2019-02-12 18:29] adamglt commented on #47
Sure - created.

[2019-02-12 21:32] nadgowdas opened #48 "Error "imported and not used" while using go-driver"
### System

- Neo4j version: Community 3.5.2
- Driver version: go language driver
- Operating system: MacOS/Ubuntu1804
- **Steps to reproduce**
Using standard example from https://neo4j.com/developer/go/
While compiling, I am getting following error
[code]

The same problem is observed on Mac as well as Ubuntu1804. So it seems to be with the go-driver itself

[2019-02-13 09:16] ali-ince commented on #47
Thanks @adamglt, the PR is now merged, will be part of 1.7.3 release in the upcoming weeks.

[2019-02-13 09:16] #47 closed, assigned to nobody

[2019-02-13 09:29] ali-ince commented on #48
Hi @nadgowdas,

I believe that you're trying to use a very early pre-release version of neo4j-go-driver, which is possibly because you've checked-in your vendor'ed dependencies into your internal repository. We had a couple of repository/package changes which may cause failures with the sample, created for the release version, to compile.

I suggest you to update/refresh dependencies using the fol

[2019-02-13 09:29] #48 closed, assigned to nobody

[2019-02-23 07:17] tuitong4 opened #49 "is neo4j.Record contains the all properties of a node?"
When I use session.Run("MATCH(n) RETURN (n)"), the record value is {} in json. I don't kown it's my probelm or it could not support return the properties of a node via Return(n).

my script:
-----------------------------
        result, err = session.Run("match(n) return (n)", nil)
        for result.Next() {
                encode, err := json.Marshal(result.Record().Values())
                if

[2019-02-23 07:39] tuitong4 commented on #49
sorry, my problem. it's ok now.

[2019-02-23 07:39] #49 closed, assigned to nobody

[2019-03-07 16:48] bmschwartz opened #51 "Data in query response map is a *neo4j.nodeValue, a private type. Can't get at the get at data."
One of the match queries I run returns a data map with one property being an empty interface of type `*neo4j.nodeValue`, making it impossible to access the data. I can use reflection to get a `neo4j.nodeValue` object but attempting to coerce the type to neo4j.Node fails.

**Neo4j Version:** 3.3.6 Enterprise
**Neo4j Mode**: Casual cluster with 1 core 2 read-replica
**Driver version**: Go driver 1.7

[2019-03-07 17:11] ali-ince commented on #51
Hi @bmschwartz,

Just tried to reproduce the error you're experiencing with the following code, and everything works fine for me. Could you please provide some kind of reproduction steps, or even better code?

[code]

Thanks.

[2019-03-07 17:26] bmschwartz commented on #51
I rewrote it along the lines of your code and it's working. Maybe initially I was doing something weird between getting `returnedMap` and then trying to access the data. All good now though. I'll close the issue.

Thanks for the help!

[2019-03-07 17:26] #51 closed, assigned to nobody

[2019-04-05 18:34] mesameen opened #52 "Govendor is throwing error"
$ govendor fetch github.com/neo4j/neo4j-go-driver                                                                                                                                                # cd E:\projects\go\.cache\govendor\github.com\neo4j\neo4j-go-driver; git reset --hard origin/master                                                                                             fatal: ambiguo

[2019-04-05 18:58] mesameen opened #53 "pkg-config: exec: "pkg-config": executable file not found in %PATH%"
$ go run main.go                                                                                                                                                                                 # pkg-config --cflags  -- seabolt17                                                                                                                                                              pkg-config: ex

[2019-04-23 13:40] dw130 opened #54 "unable to acquire connection from connector: error: [13] an unknown TLS error, state: 4, context: _open(neo4j-drivers/seabolt/src/seabolt/src/bolt/communication.c:74): unable to establish connection"
hi:
	driver, err = neo4j.NewDriver(g.url, neo4j.BasicAuth(g.user, g.pass, ""))
    if err != nil {
    	log.Error("new graph driver fail:%v",err)
        return nil
    }

    session, err = driver.Session(neo4j.AccessModeWrite)
    if err != nil {
       	log.Error("new graph Session fail:%v",err)
        return nil
    }

the two steps below  does not get any errors, I can telnet the server corr

[2019-04-24 08:21] ali-ince commented on #54
Hi,

Could you please enable debug level logging and provide the logs? It's probably something related with TLS.

Thanks.

[2019-04-24 08:23] ali-ince commented on #53
Please follow instructions available at https://github.com/neo4j/neo4j-go-driver for different platforms including windows.

[2019-04-24 08:23] #53 closed, assigned to nobody

[2019-04-24 08:25] ali-ince commented on #52
I believe community has answered your question [here](https://community.neo4j.com/t/govendor-is-throwing-below-error/6383).

[2019-04-24 08:25] #52 closed, assigned to nobody

[2019-04-28 09:48] dw130 commented on #54
@ali-ince  log from server:
[code]

[2019-04-30 12:29] GuitooStephan opened #56 "Installing the driver in docker"
Well I have been trying to dockerize my go project which is supposed to use this driver. However, I keep getting that error after I run this command --

`RUN go get github.com/neo4j/neo4j-go-driver/neo4j`

The error is --

[code]

My dockerfile looks like that --

[code]

[2019-04-30 15:14] ali-ince commented on #56
Hi @GuitooStephan,

The seabolt clone line

`RUN git clone -b v1.7.0 https://github.com/neo4j-drivers/seabolt.git /seabolt`

actually clones `v1.7.0` tag of the connector (which was the initial release) and not the latest one. The `1.7` branch includes the source code for the latest release so that should be branch that you should be cloning.

As a solution;

1. Either update that line with `RUN g

[2019-04-30 15:18] ali-ince commented on #54
Hi @dw130,

We need the debug level logs for the driver itself, and you can have a look at https://github.com/neo4j/neo4j-go-driver#logging for how to configure driver logging.

Thanks.

[2019-04-30 16:21] GuitooStephan commented on #56
@ali-ince  Thank you very much for the quick reply. I went with the first solution and I was able to build it and it is running fine. Thank you so much

[2019-04-30 16:21] #56 closed, assigned to nobody

[2019-05-20 18:44] pzurek opened #60 "Binary release installation instructions"
I feel like this issue belongs more in the [seabolt](https://github.com/neo4j-drivers/seabolt) repo but **Issues** are not enabled there.
So, it would be nice to have some more detailed installation instructions for the binary releases on all supported platforms.

[2019-05-26 13:34] GuitooStephan commented on #54
I am facing the same issue after following the configuration snippet,

My error is
"unable to acquire connection from connector: error: [1] an unknown error occurred, state: 4, context: plain_socket_open(/seabolt/src/seabolt/src/bolt/communication-plain.c:131), connect error code: 99"

[2019-05-26 14:16] ali-ince commented on #54
Would you please provide more details on your environment, like your operating system and it's version, what version of neo4j server, etc?

And also it would be very useful if you could provide debug level logs, as described in https://github.com/neo4j/neo4j-go-driver#logging.

[2019-05-26 17:30] GuitooStephan commented on #54
I am running my application and neo4j using docker compose

My docker compose looks like this

`version: '3.3'

services:
  neo4j:
    image: neo4j:3.5.4
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      NEO4J_AUTH: "none"
    volumes:
      - ./neo4j/data:/data
    networks:
      - neo4j_go_net
  api:
    image: golang:1.12-alpine
    build : .
    volumes :
      - ".:/g

[2019-05-28 08:47] technige commented on #60
Could you let us know which platform you need instructions for?

[2019-05-28 19:07] pzurek commented on #60
macOS would be the key for me at the moment.

[2019-06-01 01:29] mvid commented on #54
Also having this issue, also running in alpine docker. My example is here:
https://github.com/mvid/neo4j-go-graphql-docker

[2019-06-01 01:50] mvid commented on #54
Strangely enough, this seemed to be a manifestation of an incorrect username/password. It is working for me now

[2019-06-13 19:07] palandlom opened #61 "undefined reference to `pthread_atfork'"
I have the following error during making of seabolt:
[code]

**Operating System:** Ubuntu 18.04
**Cmake version**: 3.14.5
**Openssl version**:  1.1.1

What can I do to get avoid of it?

[2019-06-14 12:20] daylerees commented on #60
I've extracted the content into `/usr` but now I'm getting:

`github.com/neo4j-drivers/gobolt@v1.7.4/config.go:25:10: fatal error: 'bolt/bolt.h' file not found`

[2019-06-14 12:52] ali-ince commented on #60
Hi all,

Please find more details about how to install binary packages [here](https://github.com/neo4j-drivers/seabolt#installing-from-packages).

Thanks.

[2019-06-14 12:52] #60 closed, assigned to nobody

[2019-06-25 14:22] 599020328 opened #62 "cannot find -lseabolt17"
i have installed seabolt, and i don't know whether it success.
![image](https://user-images.githubusercontent.com/23151116/60106255-74fb6880-9797-11e9-9cd5-946d991e35a0.png)
but when i use go get github.com/neo4j/neo4j-go-driver/neo4j
it return error : x86_64-w64-mingw32/bin/ld.exe: cannot find -lseabolt17
collect2.exe: error: ld returned 1 exit status
is anyone know how should i do to solve it, i

[2019-06-26 15:53] ololosha228 commented on #62
same issue:
[code]

[2019-06-26 16:08] ali-ince commented on #62
Did you follow the steps described at https://github.com/neo4j/neo4j-go-driver#source? Please ensure that you've set `PKG_CONFIG_PATH` environment variable to `F:/goworkspace/src/github.com/neo4j-drivers/seabolt/build-mingw-release/dist` and also verify that you've the correct `pkg-config` installed on your system as pointed out https://github.com/neo4j/neo4j-go-driver#pkg-config.

[2019-06-27 07:10] 599020328 commented on #62
yes, i have followed all the step, if the PKG_CONFIG_PATH and pkg-config not correct,  will have another error. but i don't know why the error i have, and i also can't find the answer in google, so i'm here ask for help.
my error shot :
![image](https://user-images.githubusercontent.com/23151116/60244738-9ff7d080-98ed-11e9-9680-f642ed99a801.png)

[2019-06-27 07:45] 599020328 commented on #62
i solve it now, thank you very much. i test the ld command use --verbose, and i find the fir  the ld shell  scan was the mingw64/usr/lib, and the file is libseabolt17.a, so i copy the 2 file under /seabolt/lib to  mingw64/usr/lib and it success.
thank you for your help.

[2019-06-27 07:45] #62 closed, assigned to nobody

[2019-08-01 08:05] hsluoyz opened #63 "Is mingw still needed when using prebuilt seabolt binary on Windows?"
I use the prebuilt here: https://github.com/neo4j-drivers/seabolt#windows-zip So I don't think MinGW is required any more here? https://github.com/neo4j/neo4j-go-driver#requirements-1

[2019-08-01 08:44] hsluoyz opened #64 "[Feature Request] A native Golang driver without C"
I saw all other drivers (Java, Python, .NET) are implemented purely in its language, except Go is a wrapper of C. But it causes difficult build and relies on cgo. So can we develop a purely Go native driver?

[2019-08-02 08:14] technige commented on #64
Thank you for your suggestion. We will consider it.

[2019-08-08 06:35] ali-ince commented on #63
MINGW is still required as the go driver uses seabolt through cgo.

[2019-08-08 06:35] #63 closed, assigned to nobody

[2019-08-08 07:42] jiurenm opened #65 "exit status 3221225781"
go run main.go
exit status 3221225781

[2019-08-09 06:16] ynnynn commented on #65
same issue

once i import the package and call neo4j.NewDriver(), the program exist with status 3221225781

[2019-08-12 09:11] ali-ince commented on #65
Hi,

Given the lack of information provided, the only possibility I can think of is, you don't have the required seabolt DLLs in path. Those are;

- If you're using MINGW compiled binary distribution (https://github.com/neo4j-drivers/seabolt/releases/download/v1.7.4/seabolt-1.7.4-win64-mingw.zip);
   - libseabolt17.dll
- If you're using MSVC compiled binary distribution (https://github.com/neo4j-d

[2019-08-12 09:11] #65 closed, assigned to nobody

[2019-08-16 18:26] mcolburn commented on #64
I also vote for this.

[2019-08-19 19:06] seguidor777 opened #66 "Address resolution failed in kubernetes cluster"
Hi everybody!

I am running Neo4j with the following specifications:
- Neo4j version: Community/Enterprise 3.5.8
- Neo4j Mode: Casual cluster with 3 core 3 read-replica
- Driver version: 1.7.4 with Golang 1.12.9
- Operating system: Chrome OS 11647.217.0 on GKE

### Steps to reproduce
1. Deploy the official Neo4j helm chart on GKE in the `data` namespace
2. Run a pod with Neo4j driver
3. Try to con

[2019-08-25 16:42] seguidor777 commented on #66
Closing this since it is a problem with my static binary that was not linked to the `netgo` library which are required to handle these network issues. Cheers

[2019-08-25 16:42] #66 closed, assigned to nobody

[2019-08-28 12:20] burdiyan commented on #64
It would be of great help to have a native driver (effectively considering the fact that other languages are implemented natively). So +1.

[2019-09-10 01:53] davisford opened #67 "[Feature Request] please add godoc"
## Guidelines

It would be of great value if you could add godoc with comments.  Not being critical -- but it is fairly standard for golang libs, and tougher for devs to navigate around the source + tests to figure out what/how to do certain things (transactions, for example).

[2019-09-10 20:57] ghost commented on #64
+1

[2019-09-25 08:16] peihongbin commented on #61
I have met the same problem. Any ideas?

[2019-09-25 10:30] palandlom commented on #61
I used bolt package: https://github.com/neo4j-drivers/seabolt/releases

[2019-09-26 15:33] ali-ince commented on #61
Hi @palandlom, @peihongbin,

Would you please verify if https://github.com/neo4j-drivers/seabolt/pull/78 fixes your problem?

Thanks.

[2019-09-30 11:08] iahmedov commented on #61
@ali-ince I am facing similar issue on Ubuntu 18.04

compiling seabolt was successful with patch, but when trying to use generated library in project with `--tags seabolt_static` flag same error is shown

[2019-10-01 14:30] davisford opened #68 "bolt/bolt.h not found"
## Guidelines

I know there is a [similar closed issue here](https://github.com/neo4j/neo4j-go-driver/issues/34) but nothing in there was a solution for me.

I am trying to run tests for a project on a CI server.  These tests work fine on my local MBP, but I can't for the life of me get them to build and run on the CI server (see details below)

- Neo4j version: N/A
- Neo4j Mode: N/A
- Driver vers

[2019-10-02 15:47] davisford commented on #68
For whatever reason, on my Jenkins server in my pipeline I have to force the include dir for C with this:

[code]

I don't know why, b/c the pkg-config directive noted above also does this include:

[code]

...which resolves to the same.  I don't have this problem when running on local Mac Book Pro, only on the CI server.

Anyway, seting the `CGO_CFLAGS` fixed it for me, so I'm closing.  Hope it h

[2019-10-02 15:47] #68 closed, assigned to nobody

[2019-10-05 16:50] ali-ince commented on #61
@iahmedov would you please verify if the latest https://github.com/neo4j-drivers/seabolt/pull/78 resolves the issue on your side as well?

[2019-10-05 17:40] #61 closed, assigned to nobody

[2019-10-15 06:55] Zddup opened #69 "hi, why return nil here. This cause whether session is closed or not is confused."
https://github.com/neo4j/neo4j-go-driver/blob/934739616886b903306e1df80aa58047407a1971/neo4j/session_impl.go#L67

[2019-10-31 14:31] youshy commented on #54
Got the same issue when running below:
[code]

My error:
[code]

Running the container with `golang:alpine`

[2019-10-31 15:42] youshy commented on #64
+1

[2019-10-31 18:29] DSchmidlin commented on #64
+1

[2019-11-07 12:27] krocos commented on #64
Any progress on this issue? It would be great to get positive developers answer like "alright guys it's almost ready" 🙄😁

[2019-11-18 03:55] BlackMocca commented on #67
I found godoc [here](https://godoc.org/github.com/neo4j/neo4j-go-driver/neo4j)

[2019-11-22 22:27] tjbrockmeyer opened #71 "Session.Run() does not return errors under certain conditions"
**Neo4j Version:** 3.5.9 Community
**Neo4j Mode**: Single instance
**Driver version**: Newest stable version (just updated with `go get -u`)
**Operating System:** MacOS Mojave 10.14.5

My goal is to build a function `Run` which follows the type `RunFunc` in the code snippet to allow for my queries to call the function whether they are in a transaction or just using a session. I am experiencing an

[2019-11-26 01:26] davisford commented on #67
Sweet -- can we link that off the main `README.md` ?

https://godoc.org/github.com/neo4j/neo4j-go-driver/neo4j

[2019-11-29 11:16] megakoresh commented on #64
This driver is currently fairly useless due to ridiculous number of issues with seabolt, as it requires more effort to build than writing actual code in the library consumer. I sincerely hope this feature request gets  prioritized high.

Having external dependencies is counter to golang's conventions, and the dependencies themselves are have very unconventional linkage, preventing them from buildi

[2019-12-06 04:17] gwvandesteeg opened #72 "Add context.Context support"
Add support on transactions and queries to use the standard context.Context objects to determine timeouts, deadlines, and cancellations for a request.

For example, expanding the `Session` type with a

[code]

When building a microservice such as a REST API that needs to do a Cypher query, being able to pass in the received requests context to the query to handle cancellations and graceful shutdow

[2019-12-17 02:52] davisford commented on #54
We are getting the same now running integration tests against neo4j-enterprise inside `docker-compose`

Our docker-compose file looks like:

[code]

[2019-12-18 17:43] LeMoussel opened #73 "Poor performance"
Hi,

I'm new to Neo4j and I've been playing around with the whole platform. Lately, I've been experimenting with interacting with the DB from a Go program.
To do this, I rewrote this GO code [goneo-example](https://github.com/paulosuzart/goneo-example/blob/master/main.go) using `neo4j-go-driver`.

For the `merge` function, I did this

[code]
But I'm getting weaker performance (also with `CREATE ()

[2019-12-19 02:29] davisford commented on #54
FWIW -- our Jenkins CI server had the Docker settings limited to `2GB` of RAM, and that appears to have been the death knell.  Up the RAM, and our tests started passing.  There are other caveats -- like you need to pass in a dynamic container name, and also periodically run a jenkins job that does `docker prune system`.

![Screen Shot 2019-12-18 at 2 34 10 PM](https://user-images.githubusercontent

[2019-12-23 11:51] chennqqi opened #74 "Any plan to implement pure go driver?"

[2019-12-24 09:56] technige commented on #64
We have definitely heard the Go community's strong opinions on this, and do plan to re-approach the architecture of the Go Driver. As yet, I cannot give a timescale though, as this is a non-trivial piece of work.

[2019-12-24 09:57] technige commented on #74
Merging with other thread
https://github.com/neo4j/neo4j-go-driver/issues/64#issuecomment-568711558

[2019-12-24 09:57] #74 closed, assigned to nobody

[2020-01-02 10:21] technige commented on #71
Keeping this issue open; the duplicate at https://github.com/neo4j/neo4j/issues/12364 has been closed.

This has been added to our backlog for investigation.

[2020-01-02 16:12] ali-ince commented on #71
Hi @tjbrockmeyer,

Since I don't have your full code listing, I may be missing some information but as far as I see the problem lies in the result handling.

When you call `session.Run(cypher, params)` it only sends the cypher statement to the server and the returned error only points to errors occurring at that phase. For the actual error to show up, you must actually consume the result. This can

[2020-01-02 16:16] tjbrockmeyer commented on #71
This helps a lot, thank you. I swear it was working without having to do that before... oh well. It's not a hard change. Thank you!

[2020-01-12 08:00] fmmajd opened #75 "libssl version problems"
I believe this is a bug.

To help us understand your issue, please specify important details, primarily:

- Neo4j version: Community. latest version
- Driver version: Golang, latest
- Operating system: golang:1.13 docker image

I have a simple docker setup, with one golang:1.13 image and a neo4j image.
seabolt can be successfully installed on the go image
but when I try to install the driver via `

[2020-01-12 12:26] mvid opened #76 "Seabolt no longer building in alpine docker"
## Seabolt not building in alpine docker

Attempting to build seabolt in an alpine docker container has stopped working between alpine 3.9 and alpine 3.11 (current). I have these lines in my dockerfile, based on the seabolt build instructions:

[code]

When building against `FROM golang:1.12-alpine3.9` it works fine. When the only change I make is to the image base to be: `FROM golang:1.13-alpine3

[2020-01-12 14:28] mvid commented on #64
@technige I have been doing some work to integrate Neo4j into the standard go ecosystem, but this c library makes it pretty much a nonstarter. I took at look at gobolt, the connecting library between seabolt and this driver, and it seems like there is already solid encapsulation of logic, with the implementation limited to the `Connection` interface. Wouldn't the only necessary development be to i

[2020-01-12 20:25] ali-ince commented on #76
It seems that alpine 3.11 has a distinct package that provides openssl static libraries, named `openssl-libs-static`. Please add this package to the list of packages to be installed with `apk` and it should work.
`

[2020-01-12 22:57] ali-ince commented on #75
`golang:1.13` docker image is based on [buster](https://github.com/docker-library/golang/blob/7b69aab8c4a9117743168ca8b19b314c0307e415/1.13/buster/Dockerfile#L1), and this requires you to use a compatible seabolt binary.

From [the list of what version of debian ubuntu releases are based on](https://askubuntu.com/a/445496), you can see ubuntu-18.04 is based on debian buster and corresponding [seab

[2020-01-16 22:42] mustiikhalil commented on #76
that didn't seem to work actually, I am still facing the same issue with alpine 3.11

[2020-01-17 19:25] mustiikhalil commented on #76
Managed to link it. apologize regarding my earlier feedback, the issue was with go itself

[2020-01-19 08:57] parvezshah commented on #54
facing the same issue
"an unknown TLS error, state: 4, context: _open(/tmp/seabolt/src/seabolt/src/bolt/communication.c:74): unable to establish connection [recovered]"
Debug log
GOROOT=/snap/go/4901 #gosetup
GOPATH=/home/parvezshah/go #gosetup
/snap/go/4901/bin/go test -c -o /tmp/___TestPageStore_CreatePageEmailStore_Save_in_gitlab_com_mytradewall_gospace_applications_wall_page_internal_app_store

[2020-01-22 00:33] viveknarang commented on #54
@ali-ince I am facing a similar issue. Looking forward to your expert advice. Thanks in advance.

[code]
Neo4j Version: 4.0.0
OS: Ubuntu 18.04.3 LTS

[2020-01-24 16:37] rogaha commented on #54
Same error here:

[code]

[2020-01-26 10:13] raynjamin commented on #54
I don't know if this helps any of you, since you're using timeouts that I am not, but I was receiving this error and solved it by disabling tls in the call to NewDriver like so:

[code]

[2020-01-30 16:30] #71 closed, assigned to nobody

[2020-02-13 07:31] supercmmetry opened #77 "Session.Run() does not delete nodes."
I am using Session.Run to run the following query:

`MATCH (n: Person) WHERE n.age > 17 DETACH DELETE n`

But no nodes are deleted.
However if I run the same query in the neo4j browser it works. In addition, CREATE and MATCH operations work in the session but deletion doesn't work.

The deletion happens when I close the Session though.
Here's the code:

[code]

[2020-02-19 08:34] michael-simons commented on #77
You are running your query in an implicit transaction.

Would you mind not checking for `err`,  but using the returned `result` https://github.com/neo4j/neo4j-go-driver/blob/1.7/neo4j/result.go#L36 to consume it and retrieve the summary? That should commit the implicit transaction before closing the session.

Otherwise you can pass in a function that receives an ongoing transaction in which you sh

[2020-02-19 08:35] michael-simons commented on #76
@mvid does adding the package @ali-ince mentioned help? If so, please let use know. I would like to close the issue in that case.

[2020-02-19 17:14] mvid commented on #76
Yes, the suggestion worked, thank you

[2020-02-21 08:58] supercmmetry commented on #77
It works now, thanks !

[2020-02-21 08:58] #77 closed, assigned to nobody

[2020-02-21 10:17] joe-mann opened #78 "Naming should adhere to Go conventions"
As per the "Initialisms" section in the [Go Code Review Comments](https://github.com/golang/go/wiki/CodeReviewComments#initialisms), initialisms such as "ID" (short for "identifier") should written as either "id" or "ID" - and not "Id".

There are several examples of deviations from this convention in the neo4j module. Aside from being an unnecessary departure from these naming conventions, golint

[2020-02-25 04:53] shuaiyy commented on #61
my build on neo4j-drivers/seabolt:1.7-dev was successful,  but when go build with `--tags seabolt_static` flag same error is shown

 ps: ubuntu18.04, OpenSSL 1.1.1

[2020-03-03 02:39] calentang opened #79 "Anti cypher injection"
there is no code to deal with Anti cypher injection function.

[2020-03-09 09:44] technige commented on #79
@calentang Can you elaborate?

[2020-03-19 09:43] mbudge opened #80 "neo4j write transaction panic in google cloud pubsub subscription"
I've trying to write data from Google cloud pubsub to neo4j using the Go bolt client, but the write transaction in the pubsub receiver panics. In the following example I've removed the code to unmarshal the pubsub message, and hardcoded test values in the neo4j write transaction.

[code]

Here is the panic in the neo4j write transaction inside the pubsub subscription. The first write transaction r

[2020-03-19 09:59] mbudge commented on #80
Nevermind, just needed to open the session in the pubsub receiver as sessions aren't thread safe.

err = sub.Receive(cctx, func(ctx context.Context, msg *pubsub.Message) {
session, err := driver.Session(neo4j.AccessModeWrite)
		if err != nil {
			log.Fatal(err)
		}
		defer session.Close()

[2020-03-19 09:59] #80 closed, assigned to nobody

[2020-03-31 18:20] sahi1422 commented on #54
same issue ;(

[2020-04-01 13:20] #76 closed, assigned to nobody

[2020-04-01 13:23] 2hdddg commented on #78
@joe-mann next breaking changing version will be a v4.0 (versioning scheme changed to relate to server version). Work for that one is planned but not started, we will then consider style guides.

[2020-04-01 13:24] #78 closed, assigned to nobody

[2020-04-01 13:24] #75 closed, assigned to nobody

[2020-04-01 13:30] 2hdddg commented on #72
@gwvandesteeg this is a good suggestion. The 1.7 driver is currently reworked to be pure Go (v1.8) which would make the implementation of context better (context can go a lot deeper into the internals).

I'm not sure if we want to add an API for providing context on 1.8 driver but the underlying implementations will more or less use contexts. I'm putting this into the list of requested features fo

[2020-04-01 13:30] #72 closed, assigned to nobody

[2020-04-01 13:33] 2hdddg commented on #69
Hi @Zddup it sure looks like a bug, the 1.7 driver is currently rewritten so this code will not look the same at all. Should be fixed in 1.8 version.

[2020-04-01 13:33] #69 closed, assigned to nobody

[2020-04-01 13:37] 2hdddg commented on #64
There will be a pure Go version of this driver, ongoing work on 1.8-dev branch. After that we will continue with a 4.0 driver to support new featues in ne4j server 4.0

[2020-04-01 13:38] superbeeny commented on #64
Is there a timeline of when the 1.8 driver will be released?

[2020-04-07 08:56] domdavis commented on #54
Was also getting this issue when running Neo4j in Docker. Pulled on a few threads and got it working. tl;dr:

[code]

By default Neo4j doesn't configure TLS (https://neo4j.com/docs/operations-manual/current/security/ssl-framework/). Example 11.2 gives a snippet to get bolt working over TLS. We then need to mount the generated certs and the directory structure for Docker to see (`-v` option), tell

[2020-04-15 09:09] zhenlineo commented on #79
Close due to inactivity. Pls be free to reopen this issue with a more details description of the request. Thanks.

[2020-04-15 09:09] #79 closed, assigned to nobody

[2020-04-25 22:05] grizzly-monkey opened #94 "[Feature Request] Multi-tenant connections."
- Neo4j version: Enterprise 4.0.3
- Neo4j Mode: Single instance
- Operating system: (Ubuntu 16.10 on AWS)

It would be great to have a support for multitenant db connections.
So as to switch db for each tenant on the fly to do the graph operations.

[2020-04-27 06:55] technige commented on #94
Thank you for your message @grizzly-monkey. This is already on our roadmap for later this year.

[2020-04-27 06:58] technige commented on #94
![](https://github.trello.services/images/mini-trello-icon.png) [Go Driver 4.0](https://trello.com/c/txhv49c2/8-go-driver-40)

[2020-05-07 06:06] 2hdddg commented on #73
Hi @LeMoussel
How do you measure performance in this case? When session is created the first time it will setup a new connection to the server which will be reused among sessions. So you would need to run the merge function multiple times or create an initial session that you close before measuring the merge function.

[2020-05-07 09:15] 2hdddg commented on #64
There is a beta release of a pure/native Go driver with this tag: v1.8.0-beta01

Would be very grateful of any testing and feedback on it!

There are no changes to the API but be aware that only bolt protocol version 3 is supported (neo4j server 3.5 and above).

[2020-05-07 10:03] yasithA commented on #64
I'm trying out the beta version with the minimum viable snippet. Got the following panic at session.Run
TLS error: EOF
panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xc0000005 code=0x0 addr=0x30 pc=0x5e0f08]

[2020-05-07 12:17] 2hdddg commented on #64
@yasithA what version of neo4j are you using?

[2020-05-07 12:53] 2hdddg commented on #64
@yasithA when connecting to a neo4j v4 server you need to disable encryption since the server no longer generates certificates automagically. So you need to tweak the snippet a bit, pass in thus func as last parameter to neo4j.NewDriver:
func(c *neo4j.Config) { c.Encrypted = false }
The snippet works unmodified for 3.5 databases and when I tried it unmodified on a 4.0 database it didn't panic, I j

[2020-05-07 13:11] yasithA commented on #64
@2hdddg It works when c.Encrypted set to false. Thanks! :)  neo4j version is 4.0.3.

[2020-05-07 13:15] mcolburn commented on #64
@2hdddg I am unable to test the new driver at this time because of other work commitments, but will in the future.  Thank you for working on this!

[2020-05-19 08:13] #64 closed, assigned to 2hdddg

[2020-05-19 08:15] #54 closed, assigned to nobody

[2020-05-19 12:53] GabrielJiang-J commented on #54
“c.Encrypted = false“ is very important, it solves the problem, thanks!

[2020-05-19 18:15] grizzly-monkey commented on #94
@technige  just wanted to know any tentative dates for this ? we want plan dev accordingly. even alpha / beta is fine for us to start the dev.

[2020-05-25 16:14] guswelter opened #103 "How to go import the 1.8 beta"
Can you help me with how to import the 1.8 beta with go modules? Here is my attempt and error received:

[code]

I'm also unable to list available versions:

[code]

Any assistance greatly appreciated!

[2020-05-26 05:25] 2hdddg commented on #103
Hi @guswelter
The module name should be github.com/neo4j/neo4j-go-driver (leaving out the neo4j package).

It could be that it makes sense to have another module on neo4j level as well. Anyway I look into this and make sure that the readme got some info on this.

Thank you for trying it out!

[2020-05-27 04:15] sahi1422 opened #105 "Select database to run neo4j queries"
I tried queries using pure go beta driver 2(v1.8.0-beta02). I can easily select the database using ':use dbName' in cypher-shell but I don't find a way to select the database of my choice using a neo4j-go driver before running the query. The query result gets reflected in DB with the name "neo4j" by default.

Any help would be greatly appreciated.

[2020-05-27 05:28] 2hdddg commented on #105
Hi @sahi1422
Support for multi databases is an upcoming feature but will not be in the 1.8 version of the driver. There will be a 4.0 driver that matches the server release version and feature set.
Thanks for your feedback!

[2020-05-27 06:13] sahi1422 commented on #105
Thank you a lot for the information @2hdddg.

We are using neo4j DB and we need a multi DB feature. If the next release will take longer we will be left with no option and maybe we will switch to some other language. Can I please know the tentative date for the release of the 4.0?

It will help us to decide future project plans.

[2020-05-27 17:38] #103 closed, assigned to 2hdddg

[2020-05-29 11:17] 2hdddg commented on #105
@sahi1422 we will try to squeeze multidatabase support into the 1.18 release, seems to be a feature needed by many.

[2020-05-30 18:11] 2hdddg commented on #94
@grizzly-monkey we will try to include this in the upcoming 1.18 release. Originally we planned to just get rid of cgo dependency in that release but since mutl-tenant/multidatabase support is a popular feature ...

[2020-06-04 06:45] 2hdddg commented on #105
Feature included in v1.8.0-beta03

[2020-06-04 06:45] #105 closed, assigned to 2hdddg

[2020-06-04 06:45] 2hdddg commented on #94
Feature included in v1.8.0-beta03

[2020-06-04 06:45] #94 closed, assigned to nobody

[2020-06-05 07:57] 2hdddg commented on #73
Please rerun your tests against the 1.8 branch and open a new issue if there still is an issue.

[2020-06-05 07:57] #73 closed, assigned to nobody

[2020-06-05 07:57] 2hdddg commented on #67
I will add this to the 1.8 branch

[2020-06-05 09:14] gaurav1999 opened #110 "Please add Examples in the docs link at Neo4j official website"
Hi,

In the link mentioned at the website which leads to docs for drivers, there is no option/content for Go.
```https://neo4j.com/docs/driver-manual/current``` which is weird, either the link should lead to some page saying "Under Development" or maybe the content should be there.

![Screenshot from 2020-06-05 14-41-32](https://user-images.githubusercontent.com/20752142/83859013-f6df6a00-a73a-11e

[2020-06-13 17:24] guswelter opened #113 "Where is database connection established?"
Hello,

I am using v1.8.0 of the driver and v3.5 of the database (for testing purposes).

I establish a driver instance and session expecting that the former (or at least the latter) will actually connect to the database and yield an error upon not being able to do so, but testing with no database running yields no errors. Here is the code:

[code]

I cannot find it explicitly stated in the docume

[2020-06-15 15:25] 2hdddg commented on #113
Hi @guswelter
Good suggestions and comments. I think some of the other drivers has a verify function on the driver instance. Since the 1.8 release is intended to be backwards compatible and not add anything (besides multidb functionality) I haven't added it. I'm pretty sure (but not 100%) that the 1.7 driver worked the same way (please say if it isn't).

I prefer new driver to not connect to the d

[2020-06-16 14:17] grizzly-monkey opened #115 "[How to] strcuts from result."
- Neo4j version: Community
- Neo4j Mode: Single instance
- Driver version: X lanaguage driver X.Y.Z (If you use some other library that wraps around this driver, you might want to raise an issue there first)
- Operating system: (Ubuntu 16.10 on AWS)

**Neo4j Version:** 4.0.1 Community
**Neo4j Mode**: Single instance
**Driver version**: Go driver 1.8.0
**Operating System:** Ubuntu 16.10 on AWS

Onc

[2020-06-17 07:52] 2hdddg commented on #115
Hi @grizzly-monkey
You mean how to map a record to your own struct? You need to retrieve the values from the record and copy each value to your struct members. I'm considering something like https://golang.org/pkg/database/sql/#Row.Scan on the record type to make this a bit easier. In that case you would do this mapping in one call but with many parameters:

err := record.Scan(&s.Member1, &s.other

[2020-06-17 09:26] grizzly-monkey commented on #115
yes ... however mongo driver does give this basic functionality on method save/findById in order to not write the sqls/nosqls. I undestand that mongo does not have sql instead uses function its self vs the cypher is more like SQL.

it returns the value as struct of given type on find.
so was thinking more on how the mongo - go - driver does it instead of Postgres or Sqlite

[2020-06-18 14:16] 2hdddg commented on #113
I will add a VerifyConnection method on the driver object.

[2020-06-18 14:19] guswelter commented on #113
That's perfect, thanks!

[2020-06-22 08:45] technige commented on #115
Hi @grizzly-monkey - as far as OGM is concerned, this is not functionality we plan to add to the driver itself. However, if we see enough interest, we may build separate OGM libraries that sit atop the driver in future.

[2020-06-22 09:02] #113 closed, assigned to nobody

[2020-06-22 10:00] grizzly-monkey commented on #115
okay ... thanks.

[2020-06-22 10:00] #115 closed, assigned to nobody

[2020-07-04 08:51] mostafa8026 commented on #110
Please add example asap.

[2020-07-07 06:16] linrl3 opened #117 "Does it support conncurrent write to neo4j server?"
Does it support conncurrent write to neo4j server? I'd like to use multiple goroutines to create nodes and relations.

[2020-07-07 06:32] linrl3 opened #118 "Use of transaction"
I'd like to use the transaction to flush query to neo4j. Is `type transaction struct` still worked in progress?

[2020-07-08 21:36] timkofu opened #119 "Fail on incorrect NewDriver arguments"
This code runs without printing `err`:

	configForNeo4j40 := func(conf *neo4j.Config) { conf.Encrypted = false }

	driver, err := neo4j.NewDriver("bolt://localGhost:7687", neo4j.BasicAuth("username", "password", ""), configForNeo4j40)
	if err != nil {
		fmt.Println(err)
	}

	defer driver.Close()

Would it be possible to make it fail if any of the arguments to `NewDriver` are wrong?

[2020-07-08 21:43] icholy commented on #119
[database/sql.Open](https://golang.org/pkg/database/sql/#Open) also doesn't error when you give it an invalid hostname. They provide a [Ping](https://golang.org/pkg/database/sql/#DB.Ping) method to check the connection.

[2020-07-08 21:57] timkofu commented on #119
If possible, all 3 arguments should be checked for validity, and err if any is wrong. A `driver.Ping()` would be great as it would do the same thing.

[2020-07-09 08:54] 2hdddg commented on #118
You can retrieve a transaction from your session: tx, err := sess.BeginTransaction()
type transaction struct is internal.

[2020-07-09 08:54] #118 closed, assigned to nobody

[2020-07-09 08:56] 2hdddg commented on #119
There is a driver.VerifyConnectivity function  on 1.8 branch that hasn't been tagged for release yet. Will be in 1.8.1.

[2020-07-09 08:56] #119 closed, assigned to nobody

[2020-07-09 08:57] 2hdddg commented on #117
The driver object is thread safe, session, transaction and result are NOT.
As long as you give your goroutines their own sessions it is fine.

[2020-07-09 08:57] #117 closed, assigned to nobody

[2020-07-09 10:01] linrl3 commented on #117
Thanks.

[2020-07-15 04:14] jkandasa opened #120 "[Question] How to connect neo4j behind traefik with CA certificate"
[code]

### **Steps to reproduce**
* Setup a neo4j behind traefik with valid CA certificate
* Access neo4j with GoLang client

##### config:
[code]
##### code:
[code]
##### Traefik IngressRoute rule
[code]

#### Expected behavior
* Connection should be established

#### Actual behavior
* connection timeout

### Additional notes
I tried on the neo4j console. It is connected properly.
On the UI it u

[2020-07-15 07:47] 2hdddg commented on #120
You should use bolt:// or bolt+routing:// or neo4j:// as scheme. It looks like you have properly signed certificates so you should do something like:
neo4j.NewDriver(cfg.URI, neo4j.TrustSystem(true), neo4j.BasicAuth(...))
If this fails can you please provide us with the logs?

[2020-07-15 12:15] jkandasa commented on #120
@2hdddg Thanks for the response. I am having a properly signed certificate from letsencrypt.

##### Config:
[code]

##### Code:
[code]

##### Logs:
[code]

Infinitely stopped at [Receive accepted server version](https://github.com/neo4j/neo4j-go-driver/blob/1.8/neo4j/internal/bolt/connect.go#L57)

[2020-07-15 20:11] jfancher opened #121 "[Question] Clarify requirement to fully consume a Result"
I hit what I thought was a bug, but on further review, I think I was misusing the API. If my (new) understanding is correct, it may be worth clarifying the documentation.

We have a project that executes many concurrent transactions, each of which executes a sequence of a few interleaved reads and writes. I observed the following error in one of the later reads (that is, after the transaction had

[2020-07-16 07:08] 2hdddg commented on #120
Hi @jkandasa
According to the logs and the place where it hangs it looks like the TLS handshake is fine.

My guess is that traefik is not letting the traffic through properly. When you use the neo4j console the traffic will be wrapped in a websocket but the Go driver (and all other drivers) will not use websockets, it should use port 7687 TCP.

You can also check the neo4j server logs for any erro

[2020-07-16 07:17] 2hdddg commented on #121
Hi @jfancher
I agrree that the API part of how to use the Result is a bit confusing. You are right that you should call Consume and in this case you should maybe also add an error check on the error returned by Consume. State 5 indicates that it could be some kind of syntax error in your cypher syntax. This kind of error is not returned by session.Run to be backwards compatible with 1.7 version of

[2020-07-16 20:59] jfancher commented on #121
I am only using the Session from a single thread, so that's not an issue. I'm also pretty sure I don't have a cypher bug, but it might be a transient error that gets retried in the path where I call `Consume` (but not if I leave it and it later fails with the state error).

In any case, seems like my understanding of the requirement is correct -- I'll keep an eye out for this type of failure, but

[2020-07-16 20:59] #121 closed, assigned to nobody

[2020-07-17 03:12] jkandasa commented on #120
@2hdddg Thanks, Peter.

I do not see any errors on server log

I will debug further on traefik and report back if I find a solution.

[2020-07-17 03:12] #120 closed, assigned to nobody

[2020-07-20 13:33] martin-neotech commented on #110
The available examples can be found in https://github.com/neo4j/neo4j-go-driver/blob/1.8/neo4j/test-integration/examples_test.go

For now you have to rely on older drivers manual https://neo4j.com/docs/driver-manual/1.7/client-applications/

The documentation will be improved.

[2020-07-21 05:06] ianhe8x opened #123 "panic writing data, likely a racing condition problem"
**Neo4j Version:** 4.1.1 Community
**Neo4j Mode**: Single instance
**Driver version**: Go driver 1.8.0
**Operating System:** Mac OSX

it happens when i wrote a lot nodes into neo4j. It is reproducible btw.
From the screenshot you can see the index is 6 while c.chunks has been reset.
Therefore it led to
[code]

<img width="493" alt="image" src="https://user-images.githubusercontent.com/39037239/880

[2020-07-21 08:42] 2hdddg commented on #123
Hi @ianhe8x
You mention race condition, do you mean that you have multiple threads accessing the same session/transaction/result instance? Those are not thread safe, the driver instance is thread safe and it is assumed that you have separate sessions for each thread.

[2020-07-21 10:22] ianhe8x commented on #123
I did mentione racing condition,  it was a wild guess because otherwise i don't know what can explain what happened. Though I did only use one session for all my writes which spread among go routines. I will try one session per worker and let's see if that will work. Thanks.

[2020-07-21 11:32] 2hdddg commented on #123
Using one session from multiple go routines will never work, that is the cause of this problem.

[2020-07-21 11:32] #123 closed, assigned to nobody

[2020-07-28 14:17] gpspelle opened #124 "session.Run"
neo4j 4.1.1
go 1.14.6
linux ubuntu 19.04

Hi, I'd like to know if there's any way to run a neo4j cypher command without using an empty map withing the neo4j.session.Run method.

For example, I am doing the following to delete all nodes and relations:

`result, err := session.Run("MATCH (n) DETACH DELETE n", map[string]interface{}{})`

But, I would like to do something more like:

`result, err := s

[2020-07-29 10:14] 2hdddg commented on #124
Hi @gpspelle, Go doesn't allow optional parameters but you should be able to pass nil when there are no parameters

[2020-07-31 07:55] #124 closed, assigned to nobody

[2020-08-03 09:00] aayush2610 opened #127 "Unable to run multiple queries in one transaction"
Hi,
I am trying to run a simple multi-query create statement in a transaction, but the node is not getting created. Here is my query

`MATCH (u:User { ID: $UserID }) RETURN (u) <- CREATE (p:Post { ID: $ID })-[r:CREATED_BY {CreatedAt: $Date}]`

This query needs a user with the UserID to be present in the database which I have verified.
I tried to execute this query with `session.Run()`, `session.Be

[2020-08-03 11:51] 2hdddg commented on #127
Hi @aayush2610
This isn't really a driver issue, more a cypher syntax question. I guess you want to do something like:
MATCH (u:User {ID: "u1"}) CREATE (u)<-[r:CREATED_BY {x: "y"}]-(p:Post {y: "z"}) RETURN u;

You can join Neo4j open slack channel if you have more questions and want faster feedback: https://neo4j-users.slack.com/

[2020-08-03 12:57] aayush2610 commented on #127
Thanks for the prompt reply @2hdddg ,
The purpose of my query is to create a new `post` node along with a relationship with existing `user` node.
I tried the query you posted but it did not work either giving me the error `Invalid handle` - through my service, but this query runs directly on browser
Also, the cypher query I have posted works directly on the browser as expected

PS: I tried joining

[2020-08-03 18:38] 2hdddg commented on #127
Hi @aayush2610 I have a look at it and try to run it through the driver. Invalid handle sounds like something the driver could be responsible for.
Do you have more code surrounding this that I should be aware of.

[2020-08-04 05:08] 2hdddg commented on #127
The query I sent you seem to work, the query assumes that you have created a user upfront. The syntax with RETURN (n) <- CREATE .. isn't accepted when I try it in cypher shell.

Cypher shell session:

+-------------------+
| u                 |
+-------------------+
| (:User {ID: "u"}) |
+-------------------+

+----------------------------------------------------------------+
| u                 |

[2020-08-04 05:56] 2hdddg opened #130 "Session error 'Already in tx' repeated after failure"
When a failure happens on commit/rollback the session is stuck in transaction mode and cannot be reused for further work.

[2020-08-04 07:08] #130 closed, assigned to nobody

[2020-08-04 07:29] #67 closed, assigned to nobody

[2020-08-04 07:29] #110 closed, assigned to nobody

[2020-08-04 07:54] technige commented on #127
Hi @aayush2610

As @2hdddg points out, you have an illegal Cypher query. `RETURN (u) <- CREATE ...` is not a valid clause and is therefore rightly being rejected by the query engine. If I am guessing correctly what you want to do, you will have to `CREATE` in one clause before `RETURN`ing in another. Your query will then likely be structured as `MATCH ... CREATE ... RETURN`.

The best way to exper

[2020-08-04 07:54] #127 closed, assigned to nobody

[2020-08-04 08:14] 2hdddg commented on #127
@aayush2610 are you using the same session from multiple go routines? That would explain why you get the error "Invalid handle". Sessions are not thread safe and very light weight, each service request should create it's own session and close it when done.

[2020-08-04 14:09] aayush2610 commented on #127
@2hdddg No I was not using the same session from multiple goroutines.
Figured out the issue - I was using the incorrect type of $UserID(passing string whereas the expected type was int) from my program and hence query couldn't find the node with the UserID.
Once I changed the type, the query you suggested as well as the query I posted started working.
Since I didn't get any type of warning log or

[2020-08-13 09:04] Aoi-hosizora opened #133 "[Feature Request] Add Reset() to neo4j.Result"
### Versions

`Neo4j` 3.5.8
`github.com/neo4j/neo4j-go-driver` v1.8.1

### Problem

I want to get the `neo4j.Record` number first from `neo4j.Result` before handle it, so I have to use the `for result.Next() { }` twice.

The implement of `neo4j.Result`, which is `neo4j.result`, used `iter iterator` field to fetch data. But there is no `Reset` method in `neo4j.Result` interface (there is only `Next

[2020-08-13 12:19] 2hdddg commented on #133
Hi @Aoi-hosizora
Result is strictly forward only, for reset to work records would need to be buffered. In some special cases the records are buffered, the iterator you see in the code is for those special cases. Since results can be potentially very big we really don't want to buffer!

In your case you should be able to retrieve the value from the result first and then send that to both functions

[2020-08-13 12:19] #133 closed, assigned to nobody

[2020-08-13 12:27] Aoi-hosizora commented on #133
Thanks! Maybe I should not do in this way. I will find another way to get the Record count better.

[2020-08-27 05:50] 2hdddg opened #137 "Unable to retrieve routing table for user 'x' when user 'x' have no permission to default database"
In setups where the user used when creating the driver doesn't have access to the system default database, the routing fails:
Unable to retrieve routing table from dbserver:7687: Server error: [Neo.ClientError.Security.Forbidden] Database access is not allowed for user 'x' with roles []."

[2020-08-27 09:03] lummie opened #139 "fatal error: concurrent map read and map write"
**Neo4j Version:** 4.1.1 Community
**Neo4j Mode**: Single instance  running  neo4j:latest docker image
**Driver version**: github.com/neo4j/neo4j-go-driver v1.8.1
**Operating System:** OSX Docker

### Steps to reproduce
Have setup 15 workers taking work of a channel
Each worker:
- creates a neo4j.NewDriver()
- creates a new driver.NewSession()
- ranges the channel until closed
    - converts work

[2020-08-27 09:15] lummie commented on #139
My Bad, sorry.

[2020-08-27 09:15] #139 closed, assigned to nobody

[2020-08-27 14:33] 2hdddg opened #141 "Retryable errors surfacing from transaction functions"
Retryable errors that happens in a cluster are not retried and transactions isn't committed and error returned to the user application.
These kind of errors are returned to application during leader election:
    Connection error: dial tcp: i/o timeout
    Connection error: dial tcp 34.78.37.125:7687: connect: connection refused
    Neo.ClientError.Cluster.NotALeader

[2020-08-27 15:03] #141 closed, assigned to nobody

[2020-08-28 05:29] #137 closed, assigned to nobody

[2020-08-30 15:07] grizzly-monkey opened #142 "[Feature Request] : (Enhancement): NeoError"
Currently there generic `error` interface that is used to throw error.
As well as the result errors are not part of the error but need to explicitly check record.
`record.Err()`

Instead of this can we have a checked `NeoError` which does proper error mapping with error `code` , `message` etc...
also moving the error from record interface and `Session.Run` itself maps internally to avoid checking

[2020-08-31 07:41] 2hdddg commented on #142
Hi @grizzly-monkey
I'm not sure exactly what you mean with some of these suggestions.

I cannot see us changing the driver methods to not return the "generic error" interface, I haven't seen any Go package that doesn't use standard error handling. But that is maybe not what you suggest. The 1.8 driver is backwards compatible with 1.7 and shouldn't change much, there is ongoing work on a 4.0 driver

[2020-08-31 14:01] grizzly-monkey commented on #142
https://github.com/mongodb/mongo-go-driver/blob/master/mongo/errors.go
Was talking about these kinda error wrapper instead of return `errors.New("some error")`

[code]

for record.Err()

[code]

[2020-08-31 17:47] 2hdddg commented on #142
Ok, I guess you mean result.Err() at all places where record.Err() is mentioned.

You don't need to check the error two times as you do in your example, what you see there is an effect of backwards compatibility where error that used to happen during iteration now happens on Run (therefore delayed). You should write your code as
res, err := session.Run(...)
if err != nil {
   return err
}
// Loop

[2020-09-02 02:46] calentang opened #146 "is there some way i can batch run cypher, or already support it ?"

[2020-09-02 06:36] 2hdddg commented on #146
There is no specific batch support in the driver. There are other neo4j tools to do batch imports.

[2020-09-02 07:06] grizzly-monkey commented on #142
It helps in mapping the errors or categorizing them. What I am doing is depending upon the DB error code i map it to  appropriate HTTP status code eg. 400 , 503 etc...

[2020-09-02 08:22] 2hdddg commented on #142
Access to the database error is already in the plan for upcoming 4.0 release of the driver. Not sure what we do for 1.8.
I doubt that the database errors will be very helpful for generating HTTP status codes. You need to check the Neo4j manual for types of errors, these are the kinds of errors you get when you can connect to a database instance, other types of errors will not be database errors.

[2020-09-02 14:17] #146 closed, assigned to nobody

[2020-09-04 13:25] grizzly-monkey commented on #142
okay i will wait for 4.0 release.. any ETA for this ?

[2020-09-04 13:25] #142 closed, assigned to nobody

[2020-09-05 02:16] damianopetrungaro commented on #72
@2hdddg do you need help on this?
I need to make context management around all the session to make sure it won't block longer than the context deadline.

[2020-09-15 08:13] marvinkite opened #150 "Driver fail to reconnect if cluster changes"
- Neo4j version: Neo4J Aura (4 Enterprise)
- Neo4j Mode: HA cluster with 3 members/Casual cluster with 1 core 2 read-replica
- Driver version: 1.8 Go driver v1.8.3
- Operating system: Linux Alpine
- **Steps to reproduce**
Time to time execute some QueryTransaction
- Expected behavior
Always returns a result and recovers from errors if possible.
- Actual behavior
The application was not used over n

[2020-09-15 12:46] 2hdddg commented on #150
Thanks for the very well written issue!
I can see that the driver doesn't fall back to the original URL when last known routers fail. A patch is on the way...

[2020-09-15 13:56] #150 closed, assigned to nobody

[2020-09-21 11:19] marvinkite commented on #150
Hi,

I'm using the driver with this fix and I'm still connecting to Aura service and regularly see the EOF error messages.

There is only few hundreds or less  of request per hour and I see this same error message 1-3 times per hour. Compare to the number of call it's very often.

1. `router 1:Reading routing table for '' from previously known routers: [neo4j-core-xxxxx-12.production-orch-0001.neo

[2020-10-20 13:23] marvinkite opened #161 "[Feature Request] Updating existing errors to work with the Go 1.13+ error"
After Go 1.13, the standard way to handle wrapped errors is with the standard library: https://blog.golang.org/go1.13-errors
Implementing Unwrap will allow to check the original error with errors.Is and errors.As.

I try to switch from 1.8 driver because of ~20% fail rate with with Aura even after the last fix in 1.8.3 and now I try to migrate to the new driver and I'm trying to implement the erro

[2020-10-20 16:29] 2hdddg commented on #161
Thanks for trying out 4.0!

You don't have to use the neo4j.Isxxx functions on 4.0, the error types are exported so you can check with as/is. Regarding unwrap would only make sense on ConnectivityError as that is the only exported error with a single inner error and you would only be able to determine if it is io.EOF or not.

Maybe better if you specify the failures you see with Aura so that we ca

[2020-10-21 05:10] 2hdddg commented on #161
Hi @marvinkite
I can see from your previous issue on "Driver fail to reconnect" that you are using session.Run. We probably need to be a lot clearer in documentation about when it is safe to use session.Run, against a cluster it is not.

You must rewrite your code to use ReadTransaction/WriteTransaction. To use the returned error to reimplement the retry logic is not recommended.

[2020-10-21 09:31] marvinkite commented on #161
Hi Peter,

Thanks for the advises. Yes indeed some more accurate documentation could help. Until yesterday I was using 1.8.3 with `session.Run()` everywhere and indeed I see high number of failure with Aura. List night I migrated the driver to latest 4.0 and I learned the new API and I rewrote to use the ReadTransaction/WriteTransaction instead. Let me share with you my experience and please corre

[2020-10-21 12:37] 2hdddg commented on #161
On overall it looks like it should work now that you are using transaction functions.

For the serverless environment, I guess you mean that you "lazy" initialize driver in init func as in PubSub example here?
https://cloud.google.com/functions/docs/bestpractices/networking
Connections to the database will be closed when the instances are removed.

I like your usage of the transaction interface wh

[2020-10-30 07:24] azamaulanaaa opened #165 "record value type *neo4j.node. unable to work with it."
Operation System : Win 10
Go Version : 1.15.2
Neo4j Version : 4.1.3 Comunity
Driver Version : Go Driver 1.8.3

Steps to reproduce (short version)
1. read transaction with query
`Match (n) return n`
2. if record value type `*neo4j.Node` do something else `panic`
3. Got panic
[code]

Expected
value type should be ` *neo4j.Node`.

 `*neo4j.node` was not exported. unable to work with it.

[2020-10-30 09:49] 2hdddg commented on #165
@azamaulanaaa you should use neo4j.Node not *neo4j.Node.
neo4j.Node is an interface, implemented by the non exported type *neo4j.node.
I guess you have something like:
n := record.Values(0).(*neo4j.Node) where it should be
n := record.Values(0).(neo4j.Node)

[2020-10-30 12:59] #165 closed, assigned to nobody

[2020-11-02 15:25] #161 closed, assigned to nobody

[2020-12-16 11:49] arjantop-cai commented on #72
@2hdddg Any plans for this? As I see it did not make it in the 4.x version

[2020-12-29 18:26] bradleygore opened #178 "Summary Counts Mixing"
I believe there is some sort of shared memory going on with the result summaries - the outcomes of an execution in a prior session seems to affect the numbers in the summary of a subsequent execution in a new session.

- Neo4j version: Enterprise 4.1.3
- Neo4j Mode: Single instance
- Driver version: `github.com/neo4j/neo4j-go-driver/v4 v4.2.0`
- Operating system: OSX
- Expected behavior: Summary c

[2021-01-04 08:23] 2hdddg commented on #178
Hi @bradleygore thanks for your detailed bug report. You are right, the counters wasn't reset properly. A fix is on 4.2 branch and a patch release will be out soon.

[2021-01-04 08:23] #178 closed, assigned to nobody

[2021-01-04 16:38] bradleygore commented on #178
Thanks for the quick resolution @2hdddg !

[2021-01-22 10:55] fbiville opened #181 "Wrong time unit in WithTxTimeout documentation"
If you look at https://godoc.org/github.com/neo4j/neo4j-go-driver/neo4j#WithTxTimeout,

It currently shows examples like:
[code]
instead of (notice how `Second` is singular):
[code]

[2021-01-22 16:27] #181 closed, assigned to fbiville

[2021-01-25 19:54] bonesyo opened #183 "Query Not Returning Expected Results and Returning Zeros"
**Neo4j Version:** 4.2.1
**Neo4j Mode**: Using Aura on GCP
**Driver version**: Go driver 4.2.1
**Operating System:** Using Aura on GCP

### Steps to reproduce
I apologize since we can not reproduce this outside of our production DB, which contains sensitive data. We are running a larger query where about half way through the return data, it starts to return all Zeros for the return fields. EDIT: W

[2021-01-26 02:33] voutilad commented on #183
I can reproduce this issue with the following cypher running against Neo4j 4.2.2:

[code]

If you run the above, the 2nd record will have garbage null bytes in the middle of the very long array in the "text" field. The "msg" field will also be overwritten with a single "w" value instead of the expected string literal of `hello!`.

[2021-01-26 10:36] #183 closed, assigned to nobody

[2021-02-15 10:32] marvinkite opened #190 "Potential Deadlock in Router in clustered environment"
Potential deadlock condition in router:

[https://github.com/neo4j/neo4j-go-driver/blob/4.2/neo4j/internal/router/router.go#L78](https://github.com/neo4j/neo4j-go-driver/blob/4.2/neo4j/internal/router/router.go#L78)

[code]

**Neo4j Version:** Aura Cloud
**Neo4j Mode**: Cluster
**Driver version**: Go driver 4.2.2
**Operating System:** Linux,OSX

With a single instance there is no problem and the s

[2021-02-15 17:11] 2hdddg commented on #190
I have a look tomorrow at this, it would be really great to have logs for when this happens.

[2021-02-15 17:24] marvinkite commented on #190
I enabled the logging and  with shorter timeout and also with the context timeout the server survived the deadlock and there were many connection timeout to the Aura server. I will save the logs and sent it.

[code]

I also saw the comments around the many `sync.Lock` in the code so I try to investigate further. What connection setting do you suggest to connect to Aura. The MaxConnectionPoolSize i

[2021-02-15 18:36] 2hdddg commented on #190
Logs with that setting is fine!

[2021-02-17 07:52] 2hdddg commented on #190
The problem here is not related to the router locking. After seeing example code and logs I'm pretty sure that the problem is that the results are not consumed within the transaction in the client application and that there is a bug in the driver that doesn't discard streams correctly when the number of records are greater than 1000 (fetch size).

[2021-02-23 07:04] 2hdddg commented on #190
Closing this, two fixes has been merged and released that might be the cause of this,
#194 and #192

[2021-02-23 07:04] #190 closed, assigned to nobody

[2021-02-28 11:23] imharish-sivakumar opened #195 "Getting different error when running same cypher using goroutine"
Facing different errors while running a cypher to get an array of values from a collection of nodes
running the same cypher in goroutine from s2s API channel, and calling from UI

1. calling X endpoint of ServiceOne to get an array of interests
2. calling Y endpoint of ServiceTwo to get some values and calling X endpoint of ServiceOne via S2S channel as goroutine for some other operations

- Neo4j

[2021-03-01 06:53] 2hdddg commented on #195
Hi @hsivakum
This looks like you are accessing the same session/result/transaction instance from multiple Go routines. Only the driver "object" is safe to use from multiple Go routines. This applies to both 1.8 and 4.x branches and is by design. You should only keep instances of the driver object, all other type of objects should be kept local to the current thread.

Please use the 4.2.3 version o

[2021-03-01 06:53] #195 closed, assigned to nobody

[2021-03-05 23:31] happilymarrieddad opened #196 "Bug attempting to Match after a Consume inside a transaction."
## Bug report

When consuming data inside a transaction and then trying to create later it causes a strange state being invalid error. Note, this does not happen in the 4.2.2 version of the driver. Thanks!

[code]

**Neo4j Version:** 4.2.3 (enterprise)
**Neo4j Mode**: Single instance
**Driver version**: Go driver v4.2.3
**Operating System:** OSX Sierra

### Steps to reproduce
1. Start Neo4j on a A

[2021-03-06 14:13] 2hdddg commented on #196
I'll have a look at it on Monday but are you sure that you get the error from the third Run? From the state expectations it looks like it should be an error returned from the commit.

[2021-03-08 14:38] 2hdddg commented on #196
Should be fixed with#197

[2021-03-08 14:38] #196 closed, assigned to nobody

[2021-03-09 13:39] makubit opened #201 "Transaction query: iterating through embedded table of maps"
I have a specific case of query, where I'm passing embedded table of maps, that stores information about multiple relations from one node. Query that I formed is presented below:

[code]

I wonder if there is any possibility to iterate through the `policy` table. I'm able to get parameters from the embedded map, but I couldn't find anything that would support iterating through the table (only dire

[2021-03-09 14:27] makubit commented on #201
The second thing I tried is passing an additional parameter (int) where I store information about iteration. In this case I'm getting error:
[code]
I think it's a  bug, in my struct I specified this parameter as int and it's not casting it correctly.

[2021-03-09 16:45] fbiville commented on #201
What about something like:
[code]

Note: this question seems better suited to https://community.neo4j.com/c/drivers-stacks/go/34 than GitHub, as we tend to use GitHub issues about driver bugs, more than about driver usage.

[2021-03-26 14:47] superbeeny opened #207 "Adding support for opentelemetry"
Are there any plans to add support for opentracing to the driver along the lines of the java version - https://github.com/opentracing-contrib/java-neo4j-driver?

TIA

[2021-04-02 13:45] fbiville commented on #207
Hi, the Java version you are referring to is not officially maintained by the team.
There is currently no plan I know of to support this.

Could you elaborate your use case/needs for this?

[2021-04-07 13:52] fbiville commented on #201
Closing now, feel free to reopen @makubit if my suggestion did not help!

[2021-04-07 13:52] #201 closed, assigned to nobody

[2021-04-14 14:39] superbeeny commented on #207
We use opentracing for distributed tracing through our platforms, it would be great to trace all the way to neo4j and capture that last hop

[2021-04-25 18:18] shasaur opened #211 "[Question] In this v4.3 driver, can you run a Read and Write transaction at the same time?"
_I wasn't sure if I should post this on the community forum since it's very specific to this repo's implementation of the neo4j driver._

I'm currently using v1.8.3 of this driver and from what I can tell, running a read and write transaction at the same returns an error "Already in tx". I assume this is because there is only one lock `s.inTx` which is set to true regardless of the type of transac

[2021-04-28 18:23] fbiville commented on #211
Hi @shasaur, could you elaborate what you mean by "at the same time"?
Do you mean in two different goroutines? If so, the session instances are not meant to be shared across these so you may run into issues if you try.

[2021-04-29 21:33] shasaur commented on #211
Thanks for the response @fbiville .

Ah okay I see, I just now read literally the first line of the [Java docs about sessions](https://neo4j.com/docs/java-manual/current/session-api/reactive/#java-driver-simple-sessions) which says "Simple sessions provide a "classic" **blocking** style API for Cypher execution", woops 👀 .

So would you recommend creating several sessions - one per goroutine that

[2021-05-02 20:27] shasaur commented on #211
I just refactored to use a separate session per go routine and am no longer having any issues - this is great, thank you! 👏

[2021-05-02 20:27] #211 closed, assigned to nobody

[2021-05-14 02:58] LinshanYu opened #219 "user this driver, such an error:last error: ConnectivityError"
/kind connect-error

Mac : 19.0.0 Darwin Kernel Version 19.0.0: Wed Sep 25 20:18:50 PDT 2019; root:xnu-6153.11.26~2/RELEASE_X86_64 x86_64

neo4j version: neo4j-community-3.2.10

neo4j conf:

[code]

code: dbUri := "neo4j+ssc://127.0.0.1:1357/",  Is the code in this repo example

error：<nil> TransactionExecutionLimit: Timeout after 56 attempts, last error: ConnectivityError: Unable to retrieve rout

[2021-05-15 06:44] #219 closed, assigned to nobody

[2021-05-17 09:18] fbiville commented on #219
@LinshanYu how did you solve it?

[2021-05-17 21:28] erictg commented on #207
@superbeeny i'm adding open tracing support in [gogm](https://github.com/mindstand/gogm) (Go Object Graph Mapper) with the next release.

[2021-05-24 16:14] fbiville opened #225 "Single disconnected node pattern yield empty paths"
Queries such as:
[code]
returns as many paths as matching nodes.

For each of the result rows, the Go driver currently returns an empty `neo4j.Path` instead of a path with 0 relationships and 1 node.

[2021-05-24 16:37] #225 closed, assigned to nobody

[2021-06-04 08:31] Tak1za opened #233 "Struct to map for query parameters"
While trying to execute a cypher query with parameters being passed as a map[string]interface{}.
The problem is converting from a struct to a map by using the unmarshaller, it's converting an int value to a float64.

The documentation of json from docs clearly state:
[code]

Which is causing a problem as my passed integer value is being stored as a float inside neo4j.

There clearly should be a wo

[2021-06-04 08:57] fbiville commented on #233
Unfortunately, JSON is not a good candidate since it does not differentiate floats and integers.
The way I would personally go about it would be to manually create the query parameter map all the time.
If that feels to repetitive, you can instead define a function that uses reflection to introspect the struct fields and create the corresponding map.

NOTE: this kind of usage question is more suite

[2021-06-04 09:29] #233 closed, assigned to nobody

[2021-06-21 16:13] mantis-sa opened #240 "Mysterious Compile time issues re: Minimum Viable Snippet"
Hi Neo4J Team,

Not sure whether the following is a bug in the code, or something is wrong with my setup. I thought I would report here and try to solve it in parallel in case anyone spots something I am missing.

The code example is lifted exactly as is (bar the username and password change) from the Minimum Viable Snippet section of https://github.com/neo4j/neo4j-go-driver/tree/v4.3.0

**Neo4j V

[2021-06-24 09:29] fbiville commented on #240
Hello @d1no93, the problem is that the import for the driver was wrong: `"github.com/neo4j/neo4j-go-driver/neo4j"` instead of the documented `"github.com/neo4j/neo4j-go-driver/v4/neo4j"`.
I sent a PR to your project to fix it: https://github.com/d1no93/neo4j_demo/pull/1/.

[2021-06-24 09:29] #240 closed, assigned to nobody

[2021-10-05 03:16] Kubera2017 opened #272 "Neo.ClientError.Statement.SemanticError is not thrown to app"
I have in logs  DEBUG  [bolt4 bolt-204@localhost:7687] Neo4jError: Neo.ClientError.Statement.SemanticError (Cannot merge the following node because of null property value for 'id': (:Node_label {id: null})),  But it does not throw an error in session.Run() or tx.Run()

[2021-10-06 14:02] 2hdddg commented on #272
The driver will not report all kinds of errors on the Run method, client code needs to handle errors while iterating as well. So check the error after iterating through the records. That is check what Result.Err() returns after iteration or the error returned from Collect/Single/Consume methods.

[2021-10-09 14:14] Kubera2017 commented on #272
Hello. Thanks for response, I think it is better to have it documented, I tested with JS driver, it throws that error directly in .run(), and also Python driver, it throws only in consumption (as in Go)

[2021-10-14 02:59] garycaokai opened #275 "neo4j-go-driver stuck when send a big cypher query(>2k) in cross idc environment"
neo4j-go-driver stuck when send a big query(2k) when we use neo4j-go-driver in cross idc environment,  after some research，we found that 0xffff is too big for  cross idc environment, when we changed this value, it works.
so we recommend to add an option in create new driver to set  the max chunker size parameter

my little fix
https://github.com/garycaokai/neo4j-go-driver
+++neo4j/internal/bolt/ch

[2021-10-21 08:23] headyj opened #276 "AccessModeWrite not connecting to the leader member"
With a causal neo4j instance (4.1.5) on a kubernetes cluster (created using Helm), I connect using the AccessModeWrite:
[code]

But still having the the following error message:
[code]

I tried with both neo4j and bolt schemes, still the same issue:
`bolt://<neo4j-namespace>.<neo4j-name>.svc.cluster.local:7687`
`neo4j://<neo4j-namespace>.<neo4j-name>.svc.cluster.local:7687`

EDIT: same issue if I

[2021-10-23 16:08] renektonwu opened #277 "panic: TransactionExecutionLimit: Timeout after 58 attempts, last error: ConnectivityError: Unable to retrieve routing table from localhost:7687: localhost:7687 does not support routing"
This probelem I have google milion times but I can't go through with it. Maybe this probelem is solved in this link https://github.com/neo4j/neo4j-go-driver/issues/219
but I can't not find the solution.

And this is my config:

[code]

And this is my error pressetion:

![image](https://user-images.githubusercontent.com/41404916/138563658-7add3877-94eb-401a-99f0-8a9e85b16beb.png)

And this is the c

[2021-10-23 18:49] renektonwu commented on #277
I know how to do it. The solution is change the dbUri like this
[code]

[2021-11-30 17:08] fbiville commented on #272
@Kubera2017 did you have a specific documentation resource in mind? I'm happy to update it to include some error handling examples.

[2021-11-30 17:11] fbiville commented on #275
Hi @garycaokai, I'm back from parental leave.
Would you mind explaining to me what "cross IDC" means, I'm not familiar with the term 😃

Also, would you mind sharing a query example and some setup details to help me reproduce the issue? That would help tremendously.

[2021-11-30 17:32] fbiville commented on #276
I'm now back from parental leave, I'll do my best to have a look at this this week. Thanks for the report.

[2021-11-30 18:10] fbiville commented on #277
What version of Neo4j server are you using?
Also note, https://community.neo4j.com/ is usually a better place to start with for this kind of questions.

[2021-12-02 10:44] fbiville commented on #276
So, a few things to note before going further:

- you should handle the driver creation error before proceeding to the session creation and close the driver at some point (but this might in a later part of your program already)
- `neo4j` is definitely the scheme to use, as it will make the driver routing-aware
- the system database should definitely be specified

My setup is not exactly apples-to-

[2021-12-02 14:27] fbiville commented on #275
The change you suggest is a specification change (see https://7687.org/bolt/bolt-protocol-message-specification-4.html#chunking) and will require all drivers to comply to it.

I would need more information about the environment you are referring to, else I will not necessarily be able to efficiently advocate for this change.

[2021-12-03 08:46] Kubera2017 commented on #272
I think just need to add it to README

[2021-12-03 14:30] fbiville commented on #272
@Kubera2017 WDYT of https://github.com/neo4j/neo4j-go-driver/pull/291?

[2021-12-11 14:52] garycaokai commented on #275
@fbiville thank you for your reply.
"cross IDC"  means that we have several Neo4j Golang clients locating in A idc to access the Neo4j Server locating in B idc.
It is  VXLAN network, the problem is that VXLAN packets cannot be fragmented.
When we send a big query(packet)(> 2K), it get stuck. that is why I hack some source code to fix it for my specific network problem.

[2021-12-17 16:22] fbiville commented on #275
Hi @garycaokai, after consideration by the team, we have decided not to go forward with this request for the moment.
If that changes, we will let you know.

[2021-12-17 16:22] #275 closed, assigned to fbiville

[2021-12-20 11:04] fbiville commented on #276
@headyj have you been able to reproduce the issue with the code I provided above?

[2021-12-22 09:09] #272 closed, assigned to fbiville

[2022-01-14 18:22] karankumarshreds commented on #54
[code]

[2022-01-18 14:53] fbiville commented on #277
Feel free to reopen this @renektonwu if you still need help.

[2022-01-18 14:53] #277 closed, assigned to fbiville

[2022-01-18 14:53] fbiville commented on #276
Feel free to reopen this @headyj if you still need help.

[2022-01-18 14:53] #276 closed, assigned to fbiville

[2022-02-21 18:11] lukestoward commented on #72
Hi @2hdddg, i'm guessing there still is no support for context?

[2022-02-22 10:21] fbiville commented on #72
Hello, current Go driver maintainer here (Peter moved to Kernel a year ago).
There are now context-aware APIs in the 5.0 branch. It's about to be released in preview mode this week.

[2022-02-23 15:52] fbiville commented on #72
Hey everyone, the _experimental_, pre-release 5.0.0-preview is out and includes these context-aware APIs.
You can give it a... go 🥁: https://github.com/neo4j/neo4j-go-driver/releases/tag/v5.0.0-preview

[2022-02-23 15:56] fbiville commented on #207
Now that #72 is implemented and https://github.com/neo4j/neo4j-go-driver/releases/tag/v5.0.0-preview is out, am I right in thinking this should make the opentracing integration easier?

[2022-03-08 18:25] notdodo opened #328 "Apoc trigger parametrized query"
Using `tx.Run` inside a `WriteTransaction` to perform a trigger creation with `CALL apoc.trigger.add` the parametrized input is not substituted and the server returns "org.neo4j.graphdb.TransactionFailureException"

**Neo4j Version:** 4.4.4 Community
**Neo4j Mode**: Single instance  (docker)
**Driver version**: Go driver v4.4.1
**Operating System:** Ubuntu 22.04

<details><summary>**Stacktrace**</

[2022-03-09 12:04] fbiville commented on #328
Hello, I don't think it's possible to add custom query parameters to [APOC trigger](https://neo4j.com/labs/apoc/4.4/overview/apoc.trigger/apoc.trigger.add/) statements. The statements only receive predefined parameters as far as I understand.
 I'll only be able to confirm this next week.

[2022-03-09 13:03] notdodo commented on #328
Thank @fbiville, I thought that the parameter substitution was performed by the driver; also if there isn't a way to pass parametrized input to an apoc trigger statement it could be possible to inject code (SQL Injection).

I've used apoc with parameters in another function to dynamically create relationships using UNWIND but I don't know if the use case is similar to the one described in the issu

[2022-03-09 14:25] fbiville commented on #328
That's a different situation there.

In your initial example, the second parameter of `apoc.trigger.add` is a statement that is entirely managed by APOC, on the server side. Substitution cannot be handled by the driver, since that APOC trigger statement is executed at a later stage.

In your second example, you're running a statement now, so normal substitution rules apply.

[2022-03-15 14:09] fbiville commented on #328
Hello, standing by what I said last week :)
Additional guidance has been provided at https://community.neo4j.com/t/apoc-trigger-parametrized-query/53121/1.
Closing this issue since it's not directly a driver issue.

[2022-03-15 14:09] #328 closed, assigned to nobody

[2022-04-08 15:54] fbiville commented on #207
Updated the issue since opentracing is now superseded by https://opentelemetry.io/

[2022-06-09 07:22] rlch opened #373 "Support generics"
Hey there! Thanks for the great driver, works great.

Any plans to support generics? It would be awesome if, for instance, `ReadTransaction` had something like the following signature:
[code]
Currently I've built a wrapper around `Session` to support my use-case, but it would be great to see this implemented within the package.

[2022-06-22 13:42] fbiville commented on #373
Hello @rich, apologies for the delay in answering, I missed the notification, it seems.

The driver will be fully able to embrace generics, when generic functions on interfaces are supported.
This is not yet the case in 1.18.
So cases like `ReadTransaction` (also known as `ExecuteRead`) are stuck with a pre-generics signature, since it lives on the `Session` interface.

Until then, the best the 5.

[2022-06-23 14:31] lukestoward opened #378 "(v5) WithContext types are troublesome to mock"
I've been experimenting with the Context aware v5.0.0 preview and I've ran into some issues when trying to write unit tests.

In version 4.X of the Go package interface types such as `Result`, `Session` and `Transaction` have exported methods only. Which can easily be mocked using tools such as [vektra/mockery](https://github.com/vektra/mockery). However, when using version 5.0.0-preview, the new

[2022-06-30 09:00] lukestoward commented on #378
@fbiville any thoughts on this?

[2022-07-01 13:00] fbiville commented on #378
Hi @lukestoward, first of all: thanks for trying out the preview version and providing feedbck!

The unexported `legacy` method is needed so that the legacy APIs can easily delegate to the new context-aware APIs. Let me try to see if I can at least change the return type to a public interface.

Note that the hypothetical fix would only applied to the `5.0` branch, which contains many more changes

[2022-07-01 13:12] lukestoward commented on #378
Hi @fbiville, that shouldn't be a problem. Thanks for taking a look and let me know how you get on.

[2022-07-01 13:44] fbiville commented on #378
Hello, I think https://github.com/neo4j/neo4j-go-driver/pull/379 fixes it but it would be great if you could confirm it.

[2022-07-01 15:55] lukestoward commented on #378
Hi @fbiville, this does indeed look like it's fixed the issue.

One caveat is that I am still unable to use [vektra/mockery](https://github.com/vektra/mockery) as there is an issue with providing an implementation for an interface with unexported methods. This is more a limitation with mockery, since it is possible to satisfy an interface with unexported methods in a different package by [embeddin

[2022-07-08 09:10] fbiville commented on #378
Back from sick leave 🐛
Unfortunately, I need these unexported methods on the interface, at least as long as the legacy "non-context.Context" API are around, so most likely for the whole lifetime of 5.x versions.

[2022-07-18 09:08] #378 closed, assigned to nobody

[2022-08-09 03:45] mt324010 commented on #124
what is the usage of the param?

[2022-08-09 11:22] fbiville commented on #124
@mt324010 If you have a query like `RETURN $foo, $bar`, you need to pass a map like:
[code]

Does that help?
If you don't have any parameters like in the initial question, you can indeed just pass a `nil` map.
We could revisit this and expose varargs of parameters.

[2022-09-08 22:28] joshua-auchincloss opened #400 "[Feature Request + Bug] Option to disable cypher query validation"
Current driver settings disallow arbitrary cypher statements (even though they are valid). Eg ":begin" will throw an error, this should instead be disabled in driver or tx settings to allow the users decision whether to validate the query.

[2022-09-09 00:47] #400 closed, assigned to nobody

[2022-09-09 08:00] fbiville commented on #400
Hello, thanks for raising the issue.
For reference, `:begin` is not part of the Cypher language but rather a Cypher-Shell command.

[2022-09-23 09:40] gschurck opened #402 "Get data in graph format directly"
Is it possible to get the result of a cypher query in graph format directly, [like in the HTTP API](https://neo4j.com/docs/http-api/current/actions/return-results-in-graph-format/) ?
For example to return the graph directly from the backend to display a graph visualization on the frontend.

[2022-09-23 10:08] fbiville commented on #402
Hello, there is no built-in support for this.
If you need help implementing this, I'm happy to continue the conversation on Discord: https://neo4j.com/developer/discord/.
Once you get a `Result` or `ResultWithContext`, you'll need to call, in order:

- `Keys`
- loop of (`Next`+`Record` or `NextRecord`) or just `Collect`
- if you're calling `Record` or `NextRecord`, call and act upon the result of

[2022-09-23 10:08] #402 closed, assigned to nobody

[2022-09-23 14:05] gschurck commented on #402
Okay thank you.

[2022-09-23 14:27] gschurck commented on #402
Could it be an interesting feature to add in a PR for this driver ? I think it would be useful to have it as build-in.
For example in the Python driver there is [graph](https://neo4j.com/docs/api/python-driver/current/api.html#graph) and [data](https://neo4j.com/docs/api/python-driver/current/api.html#neo4j.Result.data) functions to get a more ordered format directly.

[2022-09-23 16:00] gschurck commented on #402
Finally, I found that it's possible to export the graph data as JSON with cypher query directly
[code]
So it seems that it's the optimal way for an API to get neo4j graph data as JSON and return it directly in response.

[2022-10-17 12:49] fbiville commented on #373
To add to my initial answer, let me elaborate on why the Go driver cannot fully embrace generics (let's take `Session.Run`* as an example).

A generic version of `Session` that would work today (Go 1.19) would be like this:

[code]

The biggest issue I have with this is that a session instance is tied to a single type constraint definition.

Users wouldn't be able to call `Run` for a query that re

[2022-10-18 01:15] rlch commented on #373
Yep, that makes a lot of sense. What if we kept `Driver` type-argument-less and created a new type:

[code]

or we made `func NewSession[T]` a top-level function which takes an instance of `Driver`? We could even go a layer deeper so that `Session` doesn't need to have type-arguments as well by instead making `Run`, `WriteTransaction` etc top-level taking a `Session`.

Type arguments on methods do

[2022-10-18 09:57] fbiville commented on #373
I like the idea of extracting standalone functions. In that case, the candidates would likely be:

- ~`Session.Run` -> `Run[T any](Session, ...) (Result[T], error)`~ (not worth it, since `Result` can be mapped by the user directly)
- `Session.Execute{Read;Write}` -> `Execute{Read;Write}[T any](Session, ...) (T, error)`

I'll discuss this internally and report back.

[2022-11-23 01:30] rlch commented on #373
Hey,

Just wanted to provide these helper functions we've been using in place of this feature for anyone interested:

[code]